<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to smart-aqua</h1>
    <a href="/monitoring">control smart</a>
    <br>
    <a href="/simulator">simulator</a>
  </body>
</html>
