<!DOCTYPE html>
<html>
  <head>
    <title>성장 시뮬레이터</title>
  </head>
  <body>
    <header>
        <h1 onclick="location.href='/simulator/admin'">성장 시뮬레이터 - 관리자</h1>
        <p>
            <span id="admin_name"></span>
            <a href="/simulator/admin/logout" id="logout_btn">로그아웃</a>
        </p>

        <style>
            body{
            background: #1e90ff;
            width: 80%;
            margin: 0 auto;
        }

        header{
            margin: 50px 0 10px 0;
        }

        header h1{
            margin: 0;
            color: #fff;
            font-family: helvetica, arial;
            text-align: center;
            font-size: 200%;
            cursor: pointer;
            transition: 0.3s;
        }
        header h1:hover{
            color: #000;
        }

        header p{
            position: relative;
            top: -10px;
            margin: 0;
            text-align: right;
            color: #fff;
        }

        header #admin_name{
            display: inline-block;;
            
        }
        header #logout_btn{
            text-decoration: none;
        }


        #user_select{
            font-size: 1.3em;
            padding: 0 10px;
        }


        #content_wrap{
            border: 1px solid #fff;
            width: 100%;
            height: 700px;
            overflow: hidden;
            display: grid;
            grid-template-columns: 10% 90%;
        }
        #user_wrap{
            overflow-y: scroll;
        }
        .user_btn{
            display: block;
            cursor: pointer;
            text-align: center;
            padding: 10px 0;
            background-color: #fff;
            transition: 0.3s;
        }
        .user_btn:hover{
            background-color: blue;
        }
        #iframe_wrap{
            border: 1px solid #fff;
            width: 100%;
            height: 700px;
        }
        iframe{
            width: 100%;
            height: 100%;
            padding-top: auto;
        }

        </style>
    </header>


    <select id="user_select" onchange="select_change()">
        <% for (let i=1; i<=70; i++){ %>
            <option class="user_btn" value="<%=i%>"><%=i%>조</option>
        <% } %>
    </select>

        
    <div id="iframe_wrap">
        <iframe id="iframe" src="http://localhost:8200/simulator/halibut/1" frameborder="0" scrolling="no"></iframe>
    </div>
    


    <!-- <div id="content_wrap">
        <p onClick="func_mouse()">1조</p>
        <div class="content">
            <p>user1</p>
            <iframe src="http://localhost:8001/simulator/halibut/1" frameborder="0" scrolling="no"></iframe>
        </div>

    </div> -->


    <script>
        let user_btn = document.getElementsByClassName("user_btn")

        let user_select = document.getElementById("user_select")

        let iframe = document.getElementById("iframe")
 
        function select_change(){
            let i = user_select.selectedIndex + 1
            console.log(i);
            iframe.src = "http://211.184.227.81:8200/simulator/halibut/"+i
        }
    </script>
    
</body>
</html>
