<!DOCTYPE html>
<html>
  <head>
    <title>성장 시뮬레이터</title>
  </head>
  <body>
    <header>
        <h1 onclick="location.href='/admin'">성장 시뮬레이터</h1>
        <p>
            <span id="admin_name"></span>
            <a href="/simulator/logout" id="logout_btn">로그아웃</a>
        </p>

        <style>
            body{
            background: #1e90ff;
            width: 850px;
            margin: 0 auto;
        }

        header{
            margin: 50px 0 10px 0;
        }

        header h1{
            margin: 0;
            color: #fff;
            font-family: helvetica, arial;
            text-align: center;
            font-size: 400%;
            cursor: pointer;
            transition: 0.3s;
        }
        header h1:hover{
            color: #000;
        }

        header p{
            position: relative;
            top: -10px;
            margin: 0;
            text-align: right;
            color: #fff;
        }

        header #admin_name{
            display: inline-block;;
            
        }
        header #logout_btn{
            text-decoration: none;
        }


        .content_title{
            background-color: #fff;
            text-align: center;
            padding: 20px 0;
            border-radius: 15px;
        }


        #content_wrap{
            width: 100%;
            height: 350px;
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 50px;
        }

        

        #content_wrap .content{
            background-color: #fff;
            border-radius: 80px;
            box-shadow: 0px 0px 5px #ccc;
            text-align: center;
            font-size: 300%;
            color: gray;
            padding-top: 130px;
            transition: 0.3s;
            cursor: pointer;
        }

        #content_wrap .content:hover{
            transform: scale(1.1);
            color: #1e90ff;
        }
        </style>
    </header>


    <div id="content_wrap">
        <div class="content" onclick="location.href=`/simulator/halibut/<%=info.user_key%>`">넙치</div>
        <div class="content"  onclick="location.href='/simulator/eel'">뱀장어</div>
    </div>
    
</body>
</html>
